@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Arial', sans-serif;
}

/* Ensure content doesn't overlap fixed elements */
main {
  @apply min-h-[calc(100vh-128px)];
}

.ql-editor {
  padding: 12px 15px; /* Adjusts padding inside the editable area */
  min-height: 100px; /* Optional: Ensures enough vertical space */
}