@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Arial', sans-serif;
}

/* Ensure content doesn't overlap fixed elements */
main {
  @apply min-h-[calc(100vh-128px)];
}



.select__control {
  border-color: #d1d5db;
  padding: 0.5rem;
  border-radius: 0.375rem;
}
.select__control--is-focused {
  border-color: #38bdf8;
  box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.2);
}